
@{
    ViewBag.Title = "Thanh Toán Thành Công";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="dktc w3-card-12">
    <h2 style="color:red;">Đã đặt hàng thành công</h2> 
    <h2 style="color:red;">Cám ơn quý khách</h2> 
</div>

