@{
    ViewBag.Title = "Thanh Toán Thất Bại";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="dktc w3-card-12">
    <h2 style="color:red;">Thanh Toán Thất Bại</h2>
    <h2 style="color:red;">Quý khách xin thử lại</h2>
</div>
