
@{
    ViewBag.Title = "XacNhanThanhToan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="dktc w3-card-12" style="width:50%;"><h2 style="color:red;"> Đã thực hiện thanh toán</h2></div>

