
<div class="bannercuon">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <a href="#"><img src="~/Content/image/15_08_2016_15_33_16_TGDD-OpLungIP-800-300.png"></a>
            </div>


            <div class="item">
                <a href="#"><img src="~/Content/image/30_07_2016_10_46_51_SIS-Samsung-385-170.jpg"></a>
            </div>

            <div class="item">
                <a href="#"><img src="~/Content/image/01_08_2016_08_26_43_TGDD-Back2School-385-170.png"></a>
            </div>

            <div class="item">
                <a href="#"><img src="~/Content/image/20_08_2016_08_48_46_Dien-Thoai---Tablet-800-300.jpg"></a>
            </div>

            <div class="item">
                <a href="#"><img src="~/Content/image/100000_visa-760x325.jpg"></a>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
