
<div class="footer w3-container w3-border w3-center">
    <div class="BoSung">
        <div class="sanpham">
            <ul>
                <h5>SẢN PHẨM</h5>
                <li><a href="#">Điện thoại Android</a></li>
                <li><a href="#">Điện thoại Apple</a></li>
                <li><a href="#">Điện thoại Gaming</a></li>
            </ul>
        </div>
        <div class="chinhsachhotro">
            <ul>
                <h5>CHÍNH SÁCH VÀ HỖ TRỢ</h5>
                <li><a href="#">Hướng dẫn mua hàng</a></li>
                <li><a href="#">Hướng dẫn mua trả góp</a></li>
                <li><a href="#">Chính sách giao hàng</a></li>
                <li><a href="#">Quy chế hoạt động</a></li>
                <li><a href="#">Chính sách bảo mật thông tin</a></li>
            </ul>
        </div>
        <div class="cachthanhtoan">
            <p>Thanh toán với:</p>
            <img src="~/Content/image/thanhtoan.png">
            <div style="float:left;margin-top:20px;">
                <p>Bây giờ là:<p id="time"></p></p>
            </div>
        </div>
    </div>
    <div class="lienhe">
        <div class="w3-right">
            <div class="dkkm">
                Đăng ký nhận tin khuyến mãi
                <br>
                <div>
                    <form action="#" method="post" name="frmNhanKM" onsubmit="return checkSubmitNhanKM()">
                        <input type="email" name="email" mailto="badatdp69@gmail.com" placeholder="Địa chỉ email.." required="required">
                        <button type="submit" class="w3-btn w3-blue w3-medium w3-padding-small">GỬI</button>
                    </form>
                </div>
            </div>
            <div class="thongtinlienhe">
                <ul>
                    <h3>LIÊN HỆ</h3>
                    <li class="lhDuong">167, Đại lộ Bình Dương, TPTDM, tỉnh Bình Dương</li>
                    <li class="lhSdt">0650 31234567 - Hotline: 1900 54 54 46</li>
                    <li class="lhEmail">badatdp69@gmail.com</li>
                </ul>
            </div>
        </div>
    </div>
</div>
